@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --dark-blue: #1f2937;
    --light-blue: #3882F6;
    --main-text: #F9FAF8;
    --secondary-text: #E5E7EB;
  }

body {
    font-family: Roboto;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.header-links a {
    text-decoration: none;
    color: var(--secondary-text);
    font-size: 18px;
    font-weight: 300;
}

.logo {
    font-size: 24px;
    color: var(--main-text);
    align-content: center;
    font-weight: 600;
}

.subhero {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    gap: 64px;
}

.hero, .footer {
    background-color: var(--dark-blue);
    padding-inline: 256px;
}

.annotation-button, .cta-button {
    background-color: var(--light-blue);
    color: var(--secondary-text);
    border: 0;
    padding: 8px 24px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
}

.annotation-headline {
    ont-size:48px;
    color:var(--main-text);
    font-weight:900
}

.annotation-text, .cta-text, .footer {
    font-size:18px;
    color:var(--secondary-text)
}

.annotation-image {
    width: 50%;
    background-color: var(--light-blue);
    align-content: center;
    text-align: center;
}

.annotation {
    width: 50%;
}

.annotation, .annotation-image {
    margin: 16px;
}

.second-container {
    display: flex;
    padding-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
}

.second-headline {
    font-size: 36px;
    color: var(--dark-blue);
    font-weight: 900;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
}

.second-images {
    display: flex;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
}

.image-second {
    border: var(--light-blue) solid 4px;
    border-radius: 24px;
    height: 128px;
    width: 128px;
}

.text {
    text-align: center;
    padding: 24px
}

.quote-section-container {
    background-color: #E5E7EB;
    min-height: 400px;
    align-content: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-inline: 25%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.quote-text {
    color: var(--dark-blue);
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.quote-name {
    align-self: flex-end;
    font-size: 22px;
    font-weight: 600;
}

.cta-section {
    min-height: 320px;
    align-content: center;
}

.cta-table {
    background-color: var(--light-blue);
    width: 55%;
    padding: 50px 100px;
    margin: auto;
    border-radius: 8px;
}

.cta-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cta-left {
    display: flex;
    flex-direction: column;
}

.cta-right {
    align-content: center;
}
.cta-button {
    align-self: flex-end;
    align-items: center;
}

.cta-headline {
    font-size: 26px;
    font-weight: 500;
    color: var(--main-text);
    padding-bottom: 8px;
}

.cta-button {
    border: 2px solid var(--main-text)
}

.footer {
    text-align: center;
    padding: 32px;
}